.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: white;
  height: 6vh;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  font-weight: bold;
}

.App-pane {
  /* font-size: large; */
  padding: 1em;
  height: 94vh;
}

.App-left-pane {
  text-align: left;
}

.App-right-pane {
  border-left: #c8c8c8 solid 1px;
}

.tab-pane {
  padding: 1em;
}

.full-width {
  width: 100%;
}

.RequestPane ul {
  list-style-type: none;
  padding: 0;
}

.tab-pane ul {
  list-style-type: none;
  padding: 0;
}

.unassigned-request,
.unassigned-request h3,
.unassigned-request button {
  color: grey;
}

h4 {
  text-align: center;
  font-weight: bold;
}
